body{
    background-color: rgb(173, 207, 216);
}
.container{
    margin-bottom: 100px;
}
button{
    
    color: white;
    width: 150px;
    height: 50px;
    
    
}
.buy-button{
margin-left: 160px;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit:contain;
    background-color: rgb(194, 181, 194);   
}
.card-price{
    font-weight: 800;
    font-size: 14px;
}
.card-title{
    font-weight: 800;
}
.carousel-item{
    width: 50%;
    margin-left: 300px;
    background-color: rgb(93, 161, 122);
    
}
.img-logo{
    width:260px;
}

